parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    excludePaths:
        - src/HttpClientMock/CallbackHandler.php # needed because of unknown classes when installed with monolog 2.x
    ignoreErrors:
        - '#Constructor in .* has parameter .* with default value#'
        - '#SchemaBuilder::foo\(\)#'
    ergebnis:
        noAssignByReference:
            enabled: false
        noParameterPassedByReference:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullableTypeDeclaration:
              enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noExtends:
            classesAllowedToBeExtended:
                - Archive7z\Archive7z
                - Monolog\Handler\AbstractProcessingHandler
                - PHPUnit\Framework\Constraint\Constraint
                - RuntimeException

includes:
    - %rootDir%/../../brainbits/phpstan-rules/rules.neon
    - %rootDir%/../../ergebnis/phpstan-rules/rules.neon
    - %rootDir%/../../phpstan/phpstan-phpunit/extension.neon
    - %rootDir%/../../phpstan/phpstan-phpunit/rules.neon
    - %rootDir%/../../phpstan/phpstan-symfony/extension.neon
#    - %rootDir%/../../thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
#    - %rootDir%/../../thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
